/*_________________________________header_________________________________*/
header {
   width: 100%;
   background-color: #09253D;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 40px;
   box-sizing: border-box;
}

header logo img {
   width: 8vw;
   height: auto;
}

 /*header links*/
header nav a {
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   color: #FFFFFF;
   gap: 100px;
   list-style: none;
   margin: 0;
   padding: 10px 40px;
   font-size: 20px;
}

 /*_________________________________body_________________________________*/
main {
   box-sizing: border-box;
   margin-left: 10vw;
   margin-right: 10vw;
}
 
 /*content*/
 .content h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #09253D;
 }

 .content h2 {
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   color: #42C5A5;
}

 .content {
   flex: 70%;
   padding: 20px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   color: #929292;
   text-align: justify;
}