body {
    margin: 0;
    padding: 0;
}
 
/*_________________________________header_________________________________*/
header {
    width: 100%;
    background-color: #09253D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    line-height: 0.1em;
    padding: 0.3em 1em;
    z-index: 1000;
}
 
header .logo img {
    width: 20vw;
    height: auto;
    margin: 0;
}

/* Cacher la case à cocher */
#menu-toggle {
  display: none;
}

/* Icône burger */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

/* Menu visible par défaut */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}

.menu a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 0.5em 1em;
  white-space: nowrap;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ---------- MENU BURGER RESPONSIVE ---------- */
@media (max-width: 1200px) {
  /* Affiche burger et cache menu */
  .menu-icon {
    display: block;
    margin-left: auto;
  }

  .menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #09253D;
    align-items: center;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }

  header {
    flex-wrap: wrap;
  }
}

/*_________________________________main_________________________________*/
main {
    box-sizing: border-box;
    margin:  0vw 20vw 0vw 20vw;
    display: block;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

h1 {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 4vw, 3rem);
    color: #09253D;
}
 
h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #09253D;
}
 
h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #42C5A5;
}
 
section {
    flex: 70%;
    padding: 1vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #929292;
    text-align: justify;
}
 
/*_________________________________footer_________________________________*/
footer {
    width: 100%;
    background-color: #42C5A5;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    padding: 0px;
    align-items: center;
    line-height: 0.1;
    z-index: 1000;
}
 
.infos {
    flex: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}
 
.hébergement {
    flex: 70%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
}